nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  position: sticky;
  top: 0;
  align-items: center;
}
.header {
  color: #fff;
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 500;
}
